<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/#about-me">{% t pages.navigation.about_me %}</a></li>
        <li><a href="{{ site.baseurl }}/#my-jobs">{% t pages.navigation.jobs %}</a></li>
        <li><a href="{{ site.baseurl }}/#education">{% t pages.navigation.education %}</a></li>
        <li><a href="{{ site.baseurl }}/#repositories">{% t pages.navigation.repositories %}</a></li>
        <li><a href="{{ site.baseurl }}/#contact-me">{% t pages.navigation.contacts %}</a></li>
        <li><a href="{{ site.baseurl }}/#technology-stack">{% t pages.navigation.technology_stack %}</a></li>
        <li><a href="{{ site.baseurl }}/projects">{% t pages.navigation.projects %}</a></li>
    </ul>
</nav>