<nav>
    <ul>
        <li><a href="{{ site.url }}/#about-me">About me</a></li>
        <li><a href="{{ site.url }}/#my-jobs">Jobs</a></li>
        <li><a href="{{ site.url }}/#education">Education</a></li>
        <li><a href="{{ site.url }}/#repositories">Repositories</a></li>
        <li><a href="{{ site.url }}/#contact-me">Contacts</a></li>
        <li><a href="{{ site.url }}/#technology-stack">Technology stack</a></li>
        <li><a href="{{ site.url }}/projects">Projects</a></li>
    </ul>
</nav>