<aside>
    {% assign sidebar_i18n = site.data.i18n[site.lang].pages.index.sidebar %}
    <div class="photo">
        <h3>{{ sidebar_i18n.photo_section.photo_title }}</h3>
        <img src="assets/images/actual_photo.jpg" alt="{{ sidebar_i18n.photo_section.photo_title }}">
    </div>
    <div id="contact-me" class="contacts">
        {% assign contacts = site.data.contacts.contacts[site.lang] %}
        <h3>{{ sidebar_i18n.contact_section.contact_title }}</h3>
        <p><span>{{ sidebar_i18n.contact_section.zip_label }}: </span>{{ contacts.zip }}</p>
        <p><span>{{ sidebar_i18n.contact_section.addr_label }}: </span>{{ contacts.address }}</p>
        <p><span>{{ sidebar_i18n.contact_section.tel_label }}: </span><a href="tel: {{ contacts.tel }}">{{ contacts.tel }}</a></p>
        <p><span>{{ sidebar_i18n.contact_section.tg_label }}: </span><a href="https://t.me/{{ contacts.tg }}">@{{ contacts.tg }}</a></p>
        <p><span>{{ sidebar_i18n.contact_section.mailto_label }}: </span><a href="mailto:{{ contacts.mailto }}">{{ contacts.mailto }}</a></p>
        <p><span>{{ sidebar_i18n.contact_section.inst_label }}: </span><a href="https://instagram.com/{{ contacts.inst }}">{{ contacts.inst }}</a></p>
    </div>
    <div id="salary-expectations" class="salary">
        <h3>{{ sidebar_i18n.salary_section.salary_title }}</h3>
        <ul>
            {% for item in site.data.salary.salary[site.lang] %}
                <li><strong>{{ item.value }} / {{ item.period }}*</strong> </li>
            {% endfor %}
        </ul>
        <small>*{{ sidebar_i18n.salary_section.salary_mark }}</small>
    </div>
    <div id="technology-stack" class="stack">
        <h3>{{ sidebar_i18n.stack_section.stack_title }}</h3>
        {% for item in site.data.stack.stack_full %}
        <ul>
            {% assign techs = item.technologies | join: ', ' %}
            <li>
                <span>{{ item.title[site.lang] }}:</span>
                <p>{{ techs }}</p>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div id="certificates" class="certificates">
        <h3>{{ sidebar_i18n.cert_section.cert_title }}</h3>
        {% for cert in site.data.certificates %}
            <p><strong>{{ cert.title }} ({{ cert.year }})</strong></p>
        {% endfor %}
    </div>
    <div id="languages" class="languages">
        <h3>{{ sidebar_i18n.lang_section.lang_title }}</h3>
        {% for lang in site.data.languages %}
            <p><strong>{{ lang.title[site.lang] }}</strong> - <em>{{ lang.level[site.lang] }}</em></p>
        {% endfor %}
    </div>
</aside>