<aside>
    {% assign sidebar_i18n = site.data.i18n[page.lang].pages.index.sidebar %}
    <div class="photo">
        <h3>{{ sidebar_i18n.photo_section.photo_title }}</h3>
        <img src="{{site.baseurl_root}}/assets/images/actual_photo.jpg" alt="{{ sidebar_i18n.photo_section.photo_title }}">
    </div>
    <div id="contact-me" class="contacts">
        {% assign contacts = site.data.contacts.contacts[page.lang] %}
        {% assign icons = site.data.icons.icons %}
        <h3>{{ sidebar_i18n.contact_section.contact_title }}</h3>
        <ul>
            <li title="Address"><i class="{{ icons.address.category }} fa-{{ icons.address.icon }} color-address"></i><a href="https://goo.gl/maps/rTw1bBfk9uxicXW5A">{{ contacts.address }}</a></li>
            <li title="Phone number"><i class="{{ icons.tel.category }} fa-{{ icons.tel.icon }} color-tel"></i><a href="tel: {{ contacts.tel }}">{{ contacts.tel }}</a></li>
            <li title="E-Mail"><i class="{{ icons.mailto.category }} fa-{{ icons.mailto.icon }} color-mailto"></i><a href="mailto:{{ contacts.mailto }}">{{ contacts.mailto }}</a></li>
            <li title="Telegram"><i class="{{ icons.tg.category }} fa-{{ icons.tg.icon }} color-tg"></i><a href="https://t.me/{{ contacts.tg }}">@{{ contacts.tg }}</a></li>
            <li title="Instagram"><i class="{{ icons.inst.category }} fa-{{ icons.inst.icon }} color-inst"></i><a href="https://instagram.com/{{ contacts.inst }}">{{ contacts.inst }}</a></li>
            <li title="Linkedin"><i class="{{ icons.linkedin.category }} fa-{{ icons.linkedin.icon }} color-linkedin"></i><a href="https://linkedin.com/in/{{ contacts.linkedin }}">{{ contacts.linkedin }}</a></li>
            <li title="Twitter"><i class="{{ icons.twitter.category }} fa-{{ icons.twitter.icon }} color-twitter"></i><a href="https://twitter.com/{{ contacts.twitter }}">{{ contacts.twitter }}</a></li>
            <li title="Mastodon"><i class="{{ icons.mastodon.category }} fa-{{ icons.mastodon.icon }} color-mastodon"></i><a href="https://mstdn.social/@{{ contacts.mastodon }}">{{ contacts.mastodon }}</a></li>
        </ul>
           </div>
    <div id="salary-expectations" class="salary">
        <h3>{{ sidebar_i18n.salary_section.salary_title }}</h3>
        <ul>
            {% for item in site.data.salary.salary[page.lang] %}
                <li><strong>{{ item.value }} / {{ item.period }}*</strong> </li>
            {% endfor %}
        </ul>
        <small>*{{ sidebar_i18n.salary_section.salary_mark }}</small>
    </div>
    <div id="technology-stack" class="stack">
        <h3>{{ sidebar_i18n.stack_section.stack_title }}</h3>
        {% for item in site.data.stack.stack_full %}
        <ul>
            {% assign techs = item.technologies | join: ', ' %}
            <li>
                <span>{{ item.title[page.lang] }}:</span>
                <p>{{ techs }}</p>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div id="certificates" class="certificates">
        <h3>{{ sidebar_i18n.cert_section.cert_title }}</h3>
        {% for cert in site.data.certificates %}
            <p><strong>{{ cert.title }} ({{ cert.year }})</strong></p>
        {% endfor %}
    </div>
    <div id="languages" class="languages">
        <h3>{{ sidebar_i18n.lang_section.lang_title }}</h3>
        {% for lang in site.data.languages %}
            <p><strong>{{ lang.title[page.lang] }}</strong> - <em>{{ lang.level[page.lang] }}</em></p>
        {% endfor %}
    </div>
</aside>