
.color-address {
    color: #FB4F4F;
}

.color-mailto {
    color: #DB534B;
}

.color-tel {
    color: #21A3FB;
}

.color-inst {
    color: #D6249F;
}

.color-twitter {
    color: #1DA1F2;
}

.color-tg {
    color: #20A0E1;
}

.color-linkedin {
    color: #0077B7;
}

.color-mastodon {
    color: #2791DA;
}