* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.page-title {
    padding: 1em 0;
    font-size: 36pt;
}

.page-title h1 {
    border: none;
    text-align: left;
}

.page-title a {
    color: #000;
}

.page-title a:hover {
    opacity: 0.85;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
}

main p {
    color: #666;
}

main h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold !important;
    text-transform: uppercase;
    color: #2079c7;
    line-height: 2 !important;
}

main ul li {
    font-size: .9em;
    color: #666;
}

aside {
    margin-left: 1em;
    padding: 1em;
    color: #666;
    border-left: 1px solid #ddd;
}

nav {
    width: 100%;
    padding: 1em 0;
    margin-left: -1em;
}

nav ul {
    display: block;
    padding: 1em 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
    text-transform: uppercase;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #2079c7;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    opacity: 0.9;
}

footer {
    margin: 1em auto;
}

aside img {
    width: 200px;
    height: 280px;
}

.stack ul,
.salary ul {
    list-style: none;
    margin-left: -2em;
}

.salary small {
    display: block;
    width: 160px;
    color: #ccc;
    font-size: 6.5pt;
}

.contacts,
.stack,
.certificates,
.languages {
    display: block;
    width: 230px;
}

.stack span,
.contacts span {
    font-weight: bold;
    color: #555;
}

.contacts a,
.repository a {
    color: #666;
    font-weight: bolder;
    text-decoration: none;
}

.contacts a:hover,
.repository a:hover {
    opacity: .9;
}

.color-red {
    color: red;
}

.repository span {
    font-size: smaller;
    color: #666;
}

.project {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5em;
    margin: 1em;
    width: 320px;
    font-family: "Open Sans", sans-serif;
}

.project ul {
    display: block;
    padding: 0;
    margin: 1em 0;
}

.project ul li {
    display: inline-block;
    margin: .25em;
    padding: .5em;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    /*text-transform: uppercase;*/
    font-size: x-small;
    background-color: #2079c7;
    border: 1px solid #2079c7;
    border-radius: 1em;
    cursor: default;
}

.project img {
    width: 300px;
}

header h4 {
    color: #666;
}